<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log_dir" value="D:/Spring/git/PCMaintainer/src/main/resources/Log/" />
    <property name="maxFileSize" value="50MB" />
    <property name="maxHistory" value="180" />
    <appender name="SYSTEM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/SYSTEM-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO" additivity = "false">
        <appender-ref ref="SYSTEM" />
    </root>
</configuration>